@{
    ViewBag.Title = "Home Page";
}

<main class="container mt-5 text-center">
    <h1 class="mb-4">Welcome to XrayPro Web Application</h1>
    <h2 class="mb-3">Please Register and Login to create a Booking</h2>
    <p class="lead mb-4">Thank you for choosing XrayPro</p>
    <a href="@Url.Action("Register", "Account")" class="btn btn-primary">Register Now</a>
</main>
